body{
  font-family: Times, Helvetica, sans-serif;
  font-size: 15px;
  line-hegith: 1.5;
  padding: 0;
  background-color:#FFFFFF;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header ul{
  margin: 0;
  padding: 0;
}

/*Search bar button**/
.button_1{
  height: 38px;
}

/*Header**/
header{
  background:#800000;
  color: #ffd700;
  padding-top: 30 px;
  min-height: 70px;
}

/*tabs under header**/
header a{
  color:#FFFFFF;
  text-decoration: none;
  font-size: 18px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header nav{
  float: right;
}

header nav{
  margin-top: 70px;
}

header .current a{
  color: #FFD700;
  font-weight: bold;
}

header a:hover{
color: FFFFFF;
font-weight: bold;
}

/*showcase*/
#showcase{
  min-height: 400;
  text-align: center;
  font-size: 20px;
}

/*search bar*/
#ask{
  padding: 13px;
}

#ask h1{
  float: left;
}

#ask form{
  float: right;
  margin-top: 25px;
}

#ask input[type = "question"]{
  padding: 4px;
  height: 20px;
  width: 300px;
}

/*forum posts*/
#posts{
  margin-top: 20px;
}

#contact{
  margin-top: 25px;
  font-size: 20px;
}

/*sign box*/
#sidebar{
  float: left;
  padding: 20px;
}

/*copyright footer**/
footer{
  padding: 20px;
  margin-top:70px;
  text-align: center;
}
