.profile-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.activity h5 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede
}

ul {
    list-style-type: none;
}
